{% extends 'main/layout.html' %}

{% block title %}Новости на сайте{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новости на сайте</h1>
        {% if news %}   <!--Если есть записи, то показываем-->
            {% for el in news %}
                <div class="alert alert-light">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.anons }}</p>
                    <a href="{% url 'news_detail' el.id %}" class="btn btn-outline-dark">Перейти к статье</a>
                </div>
            {% endfor %}
        {% else %}  <!--Иначе - показывает строку " вас нет записей"-->
            <p>У вас нет записей</p>
        {% endif %}
    </div>
{% endblock %}